html,
body {
	height: 100%;
	display: block;
}

html {
	scroll-behavior:smooth;
}

body {
	font-family: 'Montserrat', 'Aria', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	line-height: 1.5;
	color: $dark;
	background-color: $color-bg;
}



.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.logo {
	display: block;
	width: 250px;
	outline: 0;
}

.btn {
	padding: 12px 26px;
	background-color: $accent;
	border-radius: 8px;
	color: #fff;
	outline: 0;
	transition: box-shadow 0.3s ease-in-out;
    
	&:hover {
		box-shadow: inset 0 0 0 100px rgba($dark, 0.2);
	}
}

.title {
	font-family: 'OpenSans-Condensed', 'Aria', sans-serif;
	font-weight: 700;
	font-size: 84px;
	line-height: 1.3;
	color: #fff;
	text-transform: uppercase;

	@include mq('tablet') {
		font-size: 68px;
	}

	@include mq('phone') {
		font-size: 39px;
	}
}

.appointment-link {
	color: #fff;
	font-family: 'OpenSans-Condensed', 'Aria', sans-serif;
	font-size: 15px;
	padding: 16px 25px 16px 58px;
	font-weight: 700;
	background-color: $accent;
	text-transform: uppercase;
	border-radius: 8px;
	position: relative;
	display: inline-block;
	outline: 0;
	white-space: nowrap;
	transition: box-shadow 0.3s ease-in-out;
    
	&:hover {
		box-shadow: inset 0 0 0 100px rgba($dark, 0.2);
	}

	&::before {
		@include pseudo;
		top: 50%;
		left: 23px;
		transform: translateY(-50%);
		width: 15px;
		height: 9px;
		background-image: url('../images/arrow-right.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.book-btn{
	padding: 12px 26px;
    text-transform: uppercase;
    background-color: #26CBC5;
    border-radius: 8px;
    color: #fff;
    transition: transform 0.5s ease-in-out;

    &:hover{
      transform: scale(1.1);
    }
}

.go-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 42px;
	height: 42px;
	background-color: $accent;
	z-index: 20;
	transition: background-color 0.5s ease-in-out;
	display: none;

	&::after {
		@include pseudo;
		width: 20px;
		height: 20px;
		background-color: #fff;
		mask-image: url('../images/arrow-up.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: cover;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: background-color 0.5s ease-in-out;
	}

	&:hover {
		background-color: #fff;

		&::after{
			background-color: $accent;
		}
	}

	&--active {
		display: block;
	}
}

.input-field {
	display: block;
	width: 100%;
	padding: 9px;
	font-size: 16px;
	line-height: 1.2;
	outline: 0;

	&::placeholder {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 16px;
		line-height: 1.2;
		color: #888888;
	}
}

.main {
	flex: 1 0 auto;
}


.footer {
	flex: 0 0 auto;
}