.hours {
  padding: 60px 0 80px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  background-image: url('../images/hours-bg.jpg');
  box-shadow: inset 0 0 0 1000px rgba($color: #000000, $alpha: 0.5);

  @include mq('tablet') {
    background-attachment: scroll;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__list{
    font-size: 18px;
    color: #fff;
    max-width: 520px;
    margin: 0 auto;

    @include mq('tablet') {
      max-width: 100%;
    }
  }

  &__item {
    
    padding-bottom: 7px;
    border-bottom: 1px dashed #fff;
    
    &:not(:last-child){
      margin-bottom: 40px;

      @include mq('phone') {
        margin-bottom: 25px;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
    
    border: 1px solid #fff;

  }

  &__day {
    width: 50%;
    padding: 12px 0;
    border-right: 1px solid #fff;
  }
}