<section class="about-services">
  <div class="container">
    <h2 class="about-services__title title"> Послуги</h2>
    <div class="about-services__text">
      <p>The barbershop спеціалізується на класичних стрижках, підстриганні бороди, гоління гарячими рушниками, якісних чоловічих косметичних засобах тощо! Ліцензовані професійні перукарі та спокійне місце для відпочинку створюють унікальний досвід..</p>
    </div>
    <ul class="about-services__list price-list">
      <li class="price-list__item">
        <h2 class="price-list__category">Стрижки</h2>
        <div class="price-list__box">
          <span class="price-list__name">Регулярна стрижка</span>
          <span class="price-list__price">400+</span>
        </div>
        <div class="price-list__box">
          <span class="price-list__name">Cтрижка під насадку</span>
          <span class="price-list__price">250+</span>
        </div>
      </li>
      <li class="price-list__item">
        <h2 class="price-list__category">Гоління</h2>
        <div class="price-list__box">
          <span class="price-list__name">Гоління гарячими рушниками</span>
          <span class="about-services__price">300+</span>
        </div>
        <div class="price-list__box">
          <span class="price-list__name">Королівське гоління</span>
          <span class="price-list__price">350+</span>
        </div>
      </li>
      <li class="price-list__item">
        <h2 class="price-list__category">Стрижка бороди</h2>
        <div class="price-list__box">
          <span class="price-list__name">Моделювання бороди</span>
          <span class="price-list__price">250+</span>
        </div>
        <div class="price-list__box">
          <span class="price-list__name">Стрижка бороди і вус</span>
          <span class="price-list__price">350+</span>
        </div>
      </li>
      <li class="price-list__item">
        <h2 class="price-list__category">Догляд за обличчям
        </h2>
        <div class="price-list__box">
          <span class="price-list__name">Догляд за обличчям</span>
          <span class="price-list__price">250+</span>
        </div>
        <div class="price-list__box">
          <span class="price-list__name">Обличчя + Шия</span>
          <span class="price-list__price">355+</span>
        </div>
      </li>
    </ul>
  </div>
</section>