<section class= @class>
  <div class="container">
    <div class="about-section__content">

      <h2 class="about-section__subtitle title">Про The barbershop Київ</h2>
      <p class="about-section__descr">
        The Barbershop поєднав у собі старовинні традиції з технологіями, кінематографічне освітлення для якісної геометрії в стрижках і класичні техніки з мистецтвом скульптури чоловічої стрижки, тільки так можна розкрити і створити індивідуальний, впевнений образ.
      </p>
      <div class="about-section__text">
        <p>Ми перукарі з високим досвідом і знаннями в усіх аспектах нашої справи. Причиною нашого успіху є загальний досвід роботи та вивчення різноманітних технік. Ми прагнемо зробити всіх наших клієнтів щасливими, вислуховуючи та пропонуючи найкращий стиль, який найбільше підходить вам.</p>
        <p>Наша чоловіча перукарня - перша, хто наважилася порушити всі стереотипи, ми симбіоз Барбера, скульпторів і класиків - які прагнуть досконалості.</p>
        <p>Наша команда висококваліфікована та вільно володіє всіма останніми тенденціями, методами стрижки, підстригання та гоління. Ми хочемо, щоб ви виглядали та почувалися якнайкраще. Це означає, що ми використовуємо лише найкращі продукти. Ми завжди докладемо всіх зусиль, щоб задовольнити ваші потреби; просто запитайте будь-якого співробітника та очікуйте негайного обслуговування.
        </p>
        <p>The barbershop - чоловічий клуб в якому ви не тільки станете краще, але й будете озброєні досвідом наших предків.</p>
        <p>Ми визнаємо, що зовнішність людини повинна співвідноситися з її іміджем і стилем. Наша досвідчена група професійних стилістів допоможе вам створити зовнішність на ваш вибір. Наша різноманітність динамічних перукарів може запропонувати будь-які стилі. Не варто забувати при цьому, що стрижка, виконана кваліфікованим майстром, має виразно чітку геометрію, зберігається набагато довше, ніж робота, здійснена в звичайному салоні. Також клієнти при відвідуванні наших барбершопів запрошують свою компанію, адже в приємній обстановці можна посидіти, розслабитися з келихом міцного напою.</p>
      </div>
    </div>
  </div>
</section>