<section class="appointments">
  <div class="container">
    <div class="appointments__inner">
      <h2 class="appointments__title title">ЗАПИШІТЬСЯ НА прийом</h2>
      <button class="book-btn">Замовити зараз</button>
      <div class="appointments__text">
        <p>Ми знаємо, що у вас напружений графік і ви завжди в русі, щоб виконати ваші справи.</p>
        <p>Запишіться на прийом через партнерський додаток Booksy.</p>
        <p>Дайте нам знати, коли ви хочете прийти, щоб ми чекали на вас</p>
        <p>вулиця Салютна, 2</p>
        <p> Київ, 04111</p>
      </div>
    </div>
  </div>
</section>