<section class="booking">
  <div class="container">
    <div class="booking__inner">
      <h2 class="booking__title title">
        ЗАПИШІТЬСЯ НА прийом
      </h2>
      <div class="booking__text">
        <p>
          Записуйтесь зручно на особистий прийом онлайн. Виберіть бажану дату, час, послугу, стиліста чи перукаря та отримайте електронний лист із підтвердженням усіх деталей.
        </p>
      </div>
      <a class="appointment-link" href="#">Записатися</a>
    </div>
    

  </div>
</section>