<section class="contact">
  <div class="container">
    <h2 class="contact__title title">Скажіть Привіт</h2>
    <div class="contact__inner">
      <div class="contact__content">
        <p class="contact__text">
          Запитання? Коментарі? Будь ласка, заповніть цю форму.
           Якщо вам потрібно записатися на прийом, ви можете натиснути <a class="contact__link" href="#">тут</a>
        </p>
        <ul class="contacts__list contact-list">

          <li class="contacts__item">
            <a class="contacts__link contacts__link--address" href="#"><span class="sr-only">Наша адреса</span>Київ, вул. Салютна, 2</a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link contacts__link--phone" href="tel:380504444444"><span class="sr-only">Наш
                телефон</span>+38(050)444-44-44</a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link contacts__link--mail" href="mailto:info@barbershop.nyc"><span class="sr-only">Наш
                email</span>info@barbershop.ua</a>
          </li>

        </ul>
      </div>

      <form class="contact__form" action="#">
        <label class="contact__label">
          Ваше ім’я (обов'язкове)<span>*</span>
          <input class="contact__input" type="text" required>
        </label>
        <label class="contact__label">
          Ваша електрона пошта (обов'язкове) <span>*</span>
          <input class="contact__input" type="email" required>
        </label>
        <label class="contact__label">
          Тема <span>*</span>
          <input class="contact__input" type="text" required>
        </label>
        <label class="contact__label">
          Ваше запитання <span>*</span>
          <textarea class="contact__input contact__input--textarea" type="text" required></textarea>
        </label>
        <button class="contact__btn">Надіслати</button>
      </form>
    </div>
  </div>
  
</section>