<section class="consultation">
  <div class="consultation__wrapper">
    <div class="container">
      <div class="swiper partner-slider">
        <div class="swiper-wrapper partner-slider__wrapper">
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-1.jpg" alt="parnter #1">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-2.jpg" alt="parnter #2">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-3.jpg" alt="parnter #3">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-4.jpg" alt="parnter #4">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-1.jpg" alt="parnter #1">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-2.jpg" alt="parnter #2">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-3.jpg" alt="parnter #3">
          </div>
          <div class="swiper-slide partner-slider__slide">
            <img class="partner-slider__img" src="images/partners/partner-4.jpg" alt="parnter #4">
          </div>
    
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
        <div class="swiper-pagination"></div>
      </div>
    </div>
   
  </div>
  

  <div class="container">
    
    <div class="consultation__content">
      <img class="consultation__img" src="images/consultation-bg.jpg" alt="">
      <form class="consultation__form" action="#">
        <h2 class="consultation__title title">БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ</h2>
        <p class="consultation__text">
          Зв’яжіться з нашими досвідченими перукарями, щоб отримати БЕЗКОШТОВНУ індивідуальну консультацію.
        </p>
        <label class="consultation__lable">
          Ім’я <span>*</span> 
          <input class="consultation__input input-field" type="text" placeholder="Ваше ім’я" required>
        </label>
        <label class="consultation__lable">
          Електронна пошта <span>*</span>
          <input class="consultation__input input-field" type="email" placeholder="Ваша електрона пошта" required>
        </label>
        <label class="consultation__lable">
          Запитання
          <input class="consultation__input input-field" type="text" placeholder="Залиште ваше запитання">
        </label>
        <button class="consultation__btn">Надіслати</button>
      </form>
    </div>
  </div>
</section>