<section class="following">
  <div class="container">
    <div class="following__inner">
      <h2 class="following__title title">
        Підпишіться
      </h2>
      <ul class="following__social social">

        <li class="social__item">
          <a class="social__link " href="#" >
            <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#facebook');"></span>
            <span class="sr-only">facebook сторінка</span>
          </a>
        </li>

        <li class="social__item">
          <a class="social__link " href="#">
            <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#twitter');"></span>
            <span class="sr-only">twitter сторінка</span>
          </a>
        </li>

        <li class="social__item">
          <a class="social__link " href="#" >
            <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#instagram');"></span>
            <span class="sr-only">instagram сторінка</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>