<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__descr">
        <img class="footer__img" src="images/big-logo.svg" alt="">
        <p class="footer__text">
          Перукарня з повним набором послуг і студія чоловічого догляду. Київ.
        </p>
      </div>
      <address class="contacts">
        <h2 class="contacts__title title">Контакти</h2>
        <ul class="social">

          <li class="social__item">
            <a class="social__link " href="#" >
              <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#facebook');"></span>
              <span class="sr-only">facebook сторінка</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link " href="#">
              <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#twitter');"></span>
              <span class="sr-only">twitter сторінка</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link " href="#" >
              <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#instagram');"></span>
              <span class="sr-only">instagram сторінка</span>
            </a>
          </li>

        </ul>

        <ul class="contacts__list">

          <li class="contacts__item">
            <a class="contacts__link contacts__link--address" href="#"><span class="sr-only">Наша адреса</span>Київ, вул. Салютна, 2</a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link contacts__link--phone" href="tel:380504444444"><span class="sr-only">Наш
                телефон</span>+38(050)444-44-44</a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link contacts__link--mail" href="mailto:info@barbershop.nyc"><span class="sr-only">Наш
                email</span>info@barbershop.ua</a>
          </li>

        </ul>
      </address>

      <div class="footer__info info">
        <h2 class="info__title title">Інформація</h2>
        <ul class="info__list">
          <li class="info__item"><a class="info__link" href="">Послуги</a></li>
          <li class="info__item"><a class="info__link" href="">Записатися</a></li>
          <li class="info__item"><a class="info__link" href="">Ціни</a></li>
          <li class="info__item"><a class="info__link" href="">Контакти</a></li>
          <li class="info__item"><a class="info__link" href="">Про нас</a></li>
        </ul>
      </div>

      <form class="footer__form subscribe-form" action="#">
        <h2 class="subscribe-form__title">Новини</h2>
        <p class="subscribe-form__text">Підпишіться на нашу розсилку, щоб отримати доступ до спеціальних пропозицій</p>
        <label class="subscribe-form__label">
          <input class="subscribe-form__input input-field" type="text" required placeholder="Ваше ім’я">
        </label>
        <label class="subscribe-form__label">
          <input class="subscribe-form__input input-field" type="email" required placeholder="Ваша електрона пошта">
        </label>
        <button class="subscribe-form__btn">Підписатися</button>
      </form>
    </div>
  </div>
</footer>