<section class="pricing">
  <div class="container">
    <h2 class="pricing__title title">
      ЦІНИ
    </h2>
    <ul class="pricing__list">
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Регулярна стрижка</span>
          <span class="pricing__cost">400+</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Королівське гоління</span>
          <span class="pricing__cost">350+</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Стрижка + Королівське гоління</span>
          <span class="pricing__cost">700+</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Cтрижка під насадку</span>
          <span class="pricing__cost">250</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Моделювання бороди</span>
          <span class="pricing__cost">250+</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Стрижка бороди і вус</span>
          <span class="pricing__cost">350+</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Камуфлювання сивини</span>
          <span class="pricing__cost">200+</span>
        </div>
      </li>
      <li class="pricing__item">
        <div class="pricing__box">
          <span class="pricing__descr">Укладання</span>
          <span class="pricing__cost">100+</span>
        </div>
      </li>
    </ul>
    <a class="pricing__link appointment-link" href="#">Записатися</a>
  </div>
</section>