<section class="review">
  <div class="container">
    <h2 class="review__title title">
      КЛІЄНТИ КАЖУТЬ...
    </h2>
    <p class="review__descr">
      Ми любимо відгуки наших клієнтів! Ми дуже вдячні за чудові та щирі відгуки, які ми отримали від наших клієнтів!
    </p>
    <ul class="review__list">
      <li class="review__item">
        <article class="review-card">
          <blockquote class="review-card__blockquote">
            "Чудовий досвід. Чудове обслуговування, стрижка, підстригання бороди та гоління. Дякую, дякую!!"
          </blockquote>
          <div class="review-card__box">
            <img class="review-card__img" src="images/avatar.jpg" alt="">
            <div class="review-card__author">
              <span class="review-card__name">Червоненко Ростислав</span>
              <span class="review-card__position">Кухар</span>
            </div>
          </div>
        </article>
      </li>
      <li class="review__item">
        <article class="review-card">
          <blockquote class="review-card__blockquote">
            "Я довго шукав хорошого перукаря. Слава Богу, я знайшов Артура, професіонала, доброзичливого. Рекомендую!!"
          </blockquote>
          <div class="review-card__box">
            <img class="review-card__img" src="images/avatar.jpg" alt="">
            <div class="review-card__author">
              <span class="review-card__name">Сенчук Тимур</span>
              <span class="review-card__position"></span>
            </div>
          </div>
        </article>
      </li>
      <li class="review__item">
        <article class="review-card">
          <blockquote class="review-card__blockquote">
            "Чудова перукарня! Дуже привітна та професійна, точно знали, чого я хочу, уклали мою зачіску саме так, як я собі уявляв. Дуже рекомендую"
          </blockquote>
          <div class="review-card__box">
            <img class="review-card__img" src="images/avatar.jpg" alt="">
            <div class="review-card__author">
              <span class="review-card__name">Єрьоменко Ярослав </span>
              <span class="review-card__position">Водій</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>