<section class="services">
  <div class="container">
    <h2 class="services__title title">Послуги</h2>
    <ul class="services__list">
      <li class="services__item" style="background-image: url('images/haircut.jpg');">
        <a class="services__link btn" href="#">стрижка</a>
      </li>
      <li class="services__item" style="background-image: url('images/beard.jpg');">
        <a class="services__link btn" href="#">СТРИЖКА БОРОДИ</a>
      </li>
      <li class="services__item" style="background-image: url('images/shave.jpg');">
        <a class="services__link btn" href="#">гоління</a>
      </li>
      <li class="services__item" style="background-image: url('images/razor-blade.jpg');">
        <a class="services__link btn" href="#">Небезпечне гоління</a>
      </li>
    </ul>
  </div>
</section>